.venv/
venv/
ENV/
env/
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/

.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

Thumbs.db
ehthumbs.db
Desktop.ini

data/01_raw/
data/02_interim/
data/03_processed/
!data/03_processed/train/.gitkeep
!data/03_processed/test/.gitkeep

outputs/